.validation{

  form{
    max-width: 500px;
    margin: 0 auto;
    height: auto;
  }

  input {
    width: 100%;
    display: flex;
    border-radius: 4px;
  }

  &__input{
    border: 1px solid black;
    padding: 15px 15px;
    margin-bottom: 50px;
  }

  &__errors{
    display: flex;
    flex-direction: column;
  }

  &__submit{
    margin-top: 100px;
    padding: 20px;
    background: #ec5990;
    color: white;

    &:hover{
      background: #bf1650;
    }
  }
}
